
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Create a survey</title>

<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
<script src="/public/js/jquery-2.1.1.min.js"></script>
<script src="/public/js/createSurvey.js"></script>


</head>

<body>
<div class="container">
  <div class="row">
    <h1>Create a Survey</h1>
    <p>Here you can create a new survey.</p>
    {% if except %}
    <div class="alert alert-warning" role="alert">
      {{ except }}
    </div>
    {% endif %}
    <form class="form-horizontal" role="form">

      <div class="form-group form-group-lg">
        <label for="forName" class="col-sm-2 control-label">Survey Title</label>
        <div class="col-sm-10">
          <input name="name" class="form-control input-lg" type="text" id="forName" placeholder="Create a title here"/>
        </div>
      </div>

      <div class="form-group">
        <label for="forDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea id="forDescription" name="description" class="form-control" placeholder="Description" rows="3"></textarea>
        </div>
      </div>

      <div class="question">
        <div class="form-group">
          </br>
          <label for="forQuestion1" class = "col-sm-2 control-label">Question</label>
          <div class="col-sm-10">
            <input name="question" class="form-control" type="text" placeholder="Describe your question"/>
          </div>
        </div>

        <div class="form-group item">
          <label for="forItem1" class = "col-sm-2 control-label">Item</label>
          <div class="col-sm-10">
            <input name="item" class="form-control" type="text" placeholder="item"/>
          </div>
        </div>


        <div class="form-group add_item">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default add_item_class">Add Item</button>
          </div>
        </div>
      </div>


      <div class="form-group add_question">
        </br>
        <div class="col-sm-offset-2 col-sm-10">
          <input type="button" id="add_question_btn" class="btn btn-default" value="Add Question">
        </div>
      </div>

      <div class="form-group">
        </br>
        <div class="col-sm-offset-2 col-sm-10">
          <input type="button" id="create_survey_btn" class="btn btn-default" value="Create Survey">
        </div>
      </div>

    </form>
  </div>
</div>
</body>
</html>
