{% extends "parent.html" %}
{% block pagetitle %}Add a Category{% endblock %}

{% block view %}
<h1>Add a category</h1>
<p>Here you can add a new section.</p>
{% if except != '' %}
<div class="alert alert-warning" role="alert">
  {{ except }}
</div>
{% endif %}
<form method="POST" commandName="sec" action="/sections/add" class="form-horizontal" role="form">
  <div class="form-group form-group-lg">
    <label for="forName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input name="name" class="form-control input-lg" type="text" id="forName" placeholder="create a name here"/>
    </div>
  </div>
  <div class="form-group">
    <label for="forDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea name="description" class="form-control" placeholder="put some description" id="forDescription" rows="3">{% if cache.description %}{{cache.description}}{% endif %}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="Add a section">
    </div>
  </div>
</form>

<p><a href="/sections">Home page</a></p>
{% endblock %}
