<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>voter sections</title>
<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
  <div class="row">
    <h1>List of All Sections
    <span><div class="pull-right"><a class="btn btn-default" href="#" role="button">Create Survey</a></div></span>
    </h1>
    {% if message %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <hr />

    <div class="list-group">
      {% for section in data %}
      <a href="/section/{{section.id}}" class="list-group-item">{{section.name}}</a>
      {% endfor %}
    </div>

  </div>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
</body>
</html>
