<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>node crawler</title>

<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container">
  </br>
  <div class="row">
    <div class="col-lg-12">
      <form role="form" action="/" method="get">
        <div class="input-group">
          <input name="q" type="text" class="form-control">
          <span class="input-group-btn">
            <input type="SUBMIT" class="btn btn-default" value="Search!">
          </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  {% if source %}
  <div class="row">
    {{ source }}
  </div><!-- /. row -->
  {% endif %}
</div><!-- /.container -->

</body>
</html>
