<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>{% block pagetitle %}{% endblock %}</title>
<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
<script src="/public/js/jquery-2.1.1.min.js"></script>
{% block customjs %}{% endblock %}
</head>

<body>
<div class="container">
  <div class="rows">
    {% block view %}{% endblock %}
  </div>
</div>
</body>
</html>
