<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>voter sections</title>
<!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      </br>
      <h1>{{data.stitle}}
        <span><div class="pull-right"><a class="btn btn-default" href="/surveys/edit/{{data.sid}}" role="button">Edit Survey</a></div></span>
      </h1>
      {% if data.sdesc != null and data.sdesc !="" %}
        <p>{{data.sdesc}}</p>
      {% endif %}
      <hr />
      {% if msg %}
        <div class="alert alert-danger" role="alert">{{msg}}</div>
      {% endif %}
      <form method="POST" action="/survey/{{data.sid}}" class="form-horizontal" role="form">
        {% for q in data.questions %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">{{q.question}}</h4>
            </div>
            <div class="panel-body">
              {% for it in q.items %}
                <div class="radio">
                  <label><input type="radio" name="question_{{q.qid}}" id="option_{{it.iid}}" value="{{it.iid}}" {% if cache["question_"+q.qid] == it.iid %}checked{% endif %} >{{it.item}}</label>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
